@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

.hero-section {
    position: relative;
    height: 70vh;
    background-image: url('../img/tradit.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.hero-content {
    position: relative;
    z-index: 1;
}

.hero-content h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.hero-content p {
    font-size: 1.2rem;
}

.links{
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: #283C5A;
    height: 20px;
    font-weight: bold;
    & .fleche{
        padding-left: 20px;
    }
    & .dest{
        padding-left: 20px;
        color: #D4112D;
    }
    & a{
        text-decoration: none;
        color: inherit; 
    }
}

.description {
        margin: 16px;
        font-size:  18px;
        text-align: center;
        color: #000000;
        font-weight: medium;

    & .dests{
        color: #D4112D;
    }
}

h3{
    margin-left: 40px;
    color: #283C5A;
    font-size: 35px;
    font-weight: bold;
}

.best-places {
    padding: 0 20px;
    text-align: center;
}

.places-container {
    display: flex;
    justify-content: center;
}

.place-card {
    display: flex;
    gap: 20px;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px;
    align-items: center;
    text-align: left;
}

.place-card img {
    width: 480px;
    height: 300px;
    border-radius: 50px;
    object-fit: cover;
}

.place-content {
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
}

.place-content h4 {
    color: #D4112D;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.place-content p {
    color: #000000;
    font-size: 1rem;
    margin-bottom: 20px;
}

.btn {
    background-color: #D4112D;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
.center-btn{
    text-align: center;
}

.btn:hover {
    background-color: #FC3C58;
}

.reverse {
    display: flex;
    flex-direction: row-reverse;
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 20px;
    list-style: none;
}

.pagination li {
    display: inline-block;
    margin: 0 10px;
}

.pagination li a:hover {
    background-color: #A9A9A9;
    padding: 10px 15px;
    border-radius: 50px;
}

.pagination li a.active {
    background-color: #D4112D;
    color: white;
    padding: 10px 15px;
    border-radius: 50px;
}

.pagination li a.active:hover {
    background-color: #FC3C58;
}