* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

    /* QUESTIONS FRÉQUENTES. */
.faq-section {
    background-color: #283C5A;
    padding: 50px 0;
    text-align: center;
}

.faq-section h1 {
    color: white;
    font-size: 1.7rem;
    font-weight: bold;
}

/* Paragraph1 */
.Paragraph1 {
    padding: 50px 0;
    text-align: center;
}

/* Text container  */

.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 27vh; /* Vertically centers the text in the viewport */
    text-align: center;
}

.text-container p {
    font-size: 1.2rem; /* Adjust font size as needed */
    font-weight: bold;
}

/* question-FAQ */

.body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    background: #f6f7f6;
}

.parent{
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.parent h1{
    color: #353535;
}
.parent .question{
    background: #fff;
    padding: 10px 20px 20px;
    box-shadow: 0 15px 25px rgb(0, 0, 0,0.05);
    border-radius: 5px;
    
}
.parent input{
    appearance: none;
}
.parent .question label{
    display: flex;
    align-items: center;    
    cursor: pointer;
    margin-top: 13px;
}
.parent .question label::after{
    content: '+';
    background:white;
    position: absolute;
    right: 300px;
    font-size: 30px;
    color:  rgb(0, 0, 0,0.1);;
    color: #283C5A;
    width: 34px;
    transition: transfrom 1s;
    text-align: center;

}
.question:hover label::after{
    color: #D4112D;
}
input:checked ~ label::after{
    transform: rotate(135deg);
}
.parent h2{
    width: 40px;
    height: 40px;
    background-color: #D4112D;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f5f8f5;
    font-size: 24px;
    border-radius: 5px;
    margin-right: 10px;
}
.parent h3{
    font-weight: 500;
    color: #333;

}
.content{
    max-height: 0;
    transition: 1s;
    overflow: hidden;
}
input:checked ~ .content{
    max-height: 100vh;
}
.content p{
    font-family:Arial, Helvetica, sans-serif;
    color: #333;
    margin-top: 10px
}