footer {
  background-color: #283c5a;
  color: #fff;

  & a {
    color: #fff;
  }

  & .up {
    display: flex;
    justify-content: space-around;
    margin-inline: 30px;
    padding-block: 30px;

    & .right {
      & h1 {
        font-size: 2rem;
        margin-bottom: 20px;
        transition: 0.5s;
      }
      & p {
        font-size: 1.2rem;
        width: 400px;
        line-height: 40px;
      }
    }
    & .middle {
      & h1 {
        font-size: 2rem;
        margin-bottom: 20px;
        transition: 0.5s;
      }
      & div {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
        font-size: 1.3rem;
        & a {
          border-bottom: #fff 2px solid;
          margin-bottom: 5px;
        }
      }
    }
    & .left {
      & h1 {
        font-size: 2rem;
        margin-bottom: 20px;
        transition: 0.5s;
      }
      & div {
        display: flex;
        gap: 10px;
        margin-block: 20px;
        font-size: 1.3rem;
        & i {
          margin-right: 10px;
        }
      }
    }
  }

  & .down {
    text-align: center;
    padding-top: 30px;
    font-size: 1.2rem;
    font-weight: bold;
    border-top: #fff 2px solid;
    padding-bottom: 10px;
    transition: 0.5s;
  }
}

@media (width< 900px) {
  footer {
    & .up {
      display: block;
    }

    & .middle {
      margin-bottom: 20px;
    }
  }
}

@media (width< 620px) {
  footer {
    & .up {
      & .right {
        & h1 {
          font-size: 1.8rem;
        }
        & p {
          font-size: 1rem;
          width: 400px;
          line-height: 40px;
        }
      }
      & .middle {
        & h1 {
          font-size: 1.8rem;
        }
        & div {
          font-size: 1.2rem;
        }
      }
      & .left {
        & h1 {
          font-size: 1.8rem;
        }
        & div {
          font-size: 1.2rem;
        }
      }
    }

    & .down {
      font-size: 1rem;
    }
  }
}
